.container {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  max-height: 1080px;
  max-width: 1920px;

  :global {
    .ant-card-head {
      min-height: 48px;
    }
  }

  .sqlScrollWindows {
    :global {
      .ms-track.ms-x {
        opacity: 1;
      }
    }
  }
}
