@font-face {
  font-family: 'Alimama ShuHeiTi';
  src: url('AlimamaShuHeiTi-Bold.woff2') format('woff2'),
    url('AlimamaShuHeiTi-Bold.woff') format('woff'),
    url('AlimamaShuHeiTi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('AlibabaPuHuiTi-Bold.woff2') format('woff2'),
    url('AlibabaPuHuiTi-Bold.woff') format('woff'),
    url('AlibabaPuHuiTi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.orderItem {
}

h1 {
  font-family: Alibaba PuHuiTi;
  font-size: 66px;
  line-height: 80px;
  margin-bottom: 0px;
}

h2 {
  font-family: Alimama ShuHeiTi;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 0px;
}

h3 {
  font-family: Alimama ShuHeiTi;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.65);
}
